# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go 文件：使用 Tab（符合 gofmt）
[*.go]
indent_style = tab

[*.yaml]
indent_size = 2